{% extends 'index.html' %}
{% load static %}

{% block title %}
  My Profile
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
      <div class="">
        <div="card-body">
          <img class="img-fluid rounded-start" width="200" height="100" src="{{ user.profile.avatar.url }}">
          <div class="media-body">
            <br>
            <h3 class="text-secondary">Username: {{ user.username }}</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong><i class="fa fa-fw fa-user-alt"></i></strong>: {{ user.profile.first_name }} {{ user.profile.last_name }}</li>
        <li class="list-group-item"><strong><i class="fa fa-fw fa-envelope"></i></strong>: {{ user.profile.email_address }}</li>
        {% if user.profile.gender == Male %}
          <li class="list-group-item"><strong><i class="fa fa-male"></i></strong>: {{ user.profile.gender }}</li>
        {% else %}
          <li class="list-group-item"><strong><i class="fa fa-female"></i></strong>: {{ user.profile.gender }}</li>
        {% endif %}
        <li class="list-group-item"><strong><i class="fa fa-sticky-note"></i></strong>: {{ user.profile.desc }}</li>
      </ul>
      {% if request.user.profile == user.profile %}
        <div class="card-body">
          <a href="{% url 'edit-profile' %}" class="card-link btn btn-danger">Edit Profile</a>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
